{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | Promallshop BCM{% endblock %}

{% block branding %}
<div id="site-name">
  <a href="{% url 'admin:index' %}" class="bcm-brand">
    <span class="bcm-brand__icon">&#9680;</span>
    <span class="bcm-brand__text">
      <span class="bcm-brand__name"></span>
      <span class="bcm-brand__sub"> Control Management system</span>
    </span>
  </a>
</div>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'admin/css/custom_admin.css' %}">
{% endblock %}
